{% extends 'beyersss/base.html' %}
{% load staticfiles %}
{% block content %}
  <h1> NIEL IS NE RETARD LOLOL </h1>
  <h2>WTF NIEL JUNGEEEE</h2>
  
  <div style="max-width: 500px;" id="_giphy_5CmWPzhLkCiw8"></div><script> _gif_artist = "aikobeyers"; _gif_artist_avatar = "https://media2.giphy.com/avatars/default2.gif"; var _giphy = _giphy || []; _giphy.push({id: "5CmWPzhLkCiw8",w: 270, h: 480, clickthrough_url: "http://giphy.com/gifs/niel-bicker-5CmWPzhLkCiw8"});var g = document.createElement("script"); g.type = "text/javascript"; g.async = true;g.src = ("https:" == document.location.protocol ? "https://" : "http://") + "giphy.com/static/js/widgets/embed.js";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);</script>
{% endblock %}
